.btn {
  composes: btn from '../button/button.css';
}

.disabled {
  composes: btn;
  composes: disabled from '../button/button.css';
}

.active {
  composes: btn;
  composes: active from '../button/button.css';
}