.header {
  height: 52px;
  box-shadow: 0 1px 0 0 #35485a;
  padding: 0 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.menu {
  display: flex;
  align-self: stretch;
  flex: 1;
}

.menu-item {
  display: flex;
  align-items: center;
  margin-left: 35px;
  color:rgba(255,255,255,0.5);
  text-decoration: none;
  text-transform: capitalize;
}

.menu-item-active {
  color: white;
}

.logo {
  width: 173px;
  height: 30px;
}
